@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
    font-family: "Hack Nerd Font";
    font-size: 14px;
    color: @text;
}

window#waybar {
    background-color: alpha(@base, 0.8);
    /*border-bottom: 3px solid alpha(@crust, 0.3);*/
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 32px 32px 32px 32px;
    padding: 20px 20px 20px 20px;
}

/*
#clock.1 {
    background-color: @surface0;
    border-radius: 8px 8px 8px 8px;
    margin: 7px 0px 9px 0px;
    padding: 2px 8px 2px 8px;
}
*/

#custom-aslr {
    font-size: 10px;
}

#custom-aslr, #custom-aslr-toggle {
    background-color: alpha(@surface0, 0.8);
}

#cpu.1, #clock.2, #network.1, #battery.1, #pulseaudio.1 {
    background-color: alpha(@surface0, 0.8);
}

#cpu.2, #clock.3, #network.2, #battery.2, #pulseaudio.2 {
    background-color: alpha(@surface0, 0.8);
}

/* power module */
#custom-power {
    background-color: alpha(@surface0, 0.8);
    border-radius: 16px 16px 16px 16px;
    margin: 7px 10px 9px 0px;
    padding: 2px 9px 2px 5px;
}

/* left elements */
#cpu.1, #clock.2, #network.1, #battery.1, #pulseaudio.1, #custom-aslr {
    border-radius: 8px 0px 0px 8px;
    margin: 7px 1px 9px 6px;
    padding: 2px 8px 2px 8px;
}

/* needs larger padding because the icons are stupid */
#network.1 {
    padding: 2px 12px 2px 8px;
}
#pulseaudio.1 {
    padding: 2px 10px 2px 8px;
}
#clock.2 {
    padding: 2px 10px 2px 8px;
}

/* right elements */
#cpu.2, #clock.3, #network.2, #battery.2, #pulseaudio.2, #custom-aslr-toggle {
    border-radius: 0px 8px 8px 0px;
    margin: 7px 6px 9px 1px;
    padding: 2px 8px 2px 8px;
}

/* colored elements */
#pulseaudio.1 {
    color: @blue;
}
#network.1 {
    color: @peach;
}
#clock.2 {
    color: @red;
}
#cpu.1 {
    color: @lavender;
}
#custom-aslr {
    color: @maroon;
}

/* battery colors */
#battery.1 {
    color: @green;
}
#battery.1.charging, #battery.1.plugged {
    color: @green;
}
#battery.1.warning:not(.charging) {
    color: @yellow;
}
#battery.1.critical:not(.charging) {
    color: @red;
}
