@define-color Rosewater #f5e0dc;
@define-color Flamingo #f2cdcd;
@define-color Pink #f5c2e7;
@define-color Mauve #cba6f7;
@define-color Red #f38ba8;
@define-color Maroon #eba0ac;
@define-color Peach #fab387;
@define-color Yellow #f9e2af;
@define-color Green #a6e3a1;
@define-color Teal #94e2d5;
@define-color Sky #89dceb;
@define-color Sapphire #74c7ec;
@define-color Blue #89b4fa;
@define-color Lavender #b4befe;
@define-color OverlayTwo #9399b2;
@define-color OverlayOne #7f849c;
@define-color OverlayZero #6c7086;
@define-color SurfaceTwo #585b70;
@define-color SurfaceOne #45475a;
@define-color SurfaceZero #313244;
@define-color Base #1e1e2e;
@define-color Mantle #181825;
@define-color Crust #11111b;
@define-color Text #cdd6f4;
@define-color SubtextOne #bac2de;
@define-color SubtextZero #a6adc8;

* {
    font-family: "Hack Nerd Font";
    font-size: 14;
    color: @Text;
}

window#waybar {
    background-color: shade(@Base, 0.9);
    border-bottom: 3px solid alpha(@Crust, 0.3);
    color: @Text;
    transition-property: background-color;
    transition-duration: .5s;   
}

#clock.1 {
    background-color: @SurfaceZero;
    border-radius: 8px 8px 8px 8px;
    margin: 6px 0px 9px 0px;
    padding: 2px 8px 2px 8px;
}

#clock.2, #network.1, #battery.1, #pulseaudio.1 {
    background-color: @SurfaceZero;
}

#clock.3, #network.2, #battery.2, #pulseaudio.2 {
    background-color: @SurfaceZero;
}

/* left elements */
#clock.2, #network.1, #battery.1, #pulseaudio.1 {
    border-radius: 8px 0px 0px 8px;
    margin: 6px 1px 9px 6px;
    padding: 2px 8px 2px 8px;
}

/* needs larger padding because the icons are stupid */
#network.1 {
    padding: 2px 12px 2px 8px;
}
#pulseaudio.1 {
    padding: 2px 10px 2px 8px;
}
#clock.2 {
    padding: 2px 10px 2px 8px;
}

/* right elements */
#clock.3, #network.2, #battery.2, #pulseaudio.2 {
    border-radius: 0px 8px 8px 0px;
    margin: 6px 6px 9px 1px;
    padding: 2px 8px 2px 8px;
}

/* colored elements */
#pulseaudio.1 {
    color: @Blue;
}
#network.1 {
    color: @Peach;
}
#clock.2 {
    color: @Red;
}

/* battery colors */
#battery.1 {
    color: @Green;
}
#battery.1.charging, #battery.1.plugged {
    color: @Green;
}
#battery.1.warning:not(.charging) {
    color: @Yellow;
}
#battery.1.critical:not(.charging) {
    color: @Red;
}
